@page "/article/{id}"

@if (MyArticle == null)
{
  <h3>Loading...</h3>
}
else
{
  <h3>@MyArticle.Title</h3>
  @if (!string.IsNullOrEmpty(MyArticle.Subtitle))
  {
    <h4>@MyArticle.Subtitle</h4>
  }
  <h4>by @MyArticle.AuthorName</h4>
  <p>@MyArticle.PublicationDate.ToLongDateString()</p>

  <p>
    @((MarkupString)MyArticle.Content)
  </p>

  @if (MyArticle.Comments != null && MyArticle.Comments.Count() > 0)
  {
  <h4>Comments:</h4>
    @foreach (var comment in MyArticle.Comments)
    {
      <CommentView MyComment="@comment" />
    }
  }
  <CommentEdit ParentArticleId="@MyArticle.Id" />
}

